[Unit]
Description=Icecast server
After=network-online.target
Wants=network.target network-online.target

[Service]
Type=exec
User=__APP__
Group=__APP__
ExecStart=/usr/bin/icecast2 -c /etc/icecast2/icecast.xml
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
